@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-font: 'Outfit', sans-serif;
    --fs-body: 1.5rem;

    --blue: #2C7DFA;
    --blue-shade: #3685FF;
    --dark-navy: #1F314F;
    --grey: #7D889E;
    --light-grey: #D5E1EF;
    --white: #fff;

    font-size: 62.5%;
}

body{
    margin: 10rem 0 8rem;
    font-family: var(--text-font);
    background-color: var(--light-grey);
    color: var(--fc-primary);
    font-size: var(--fs-body);
}

.container{
    max-width: 37.5rem;
    margin: 0 auto;
}

.card{
    background-color: var(--white);
    max-width: 20rem;
    margin: 0 auto;
    border-radius: 2rem;
    height: 49.7rem;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem var(--grey));
}

.card img{
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
}

.card h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--dark-navy);
    margin: 2rem 2rem;
}

.card p{
    color: var(--grey);
    margin: 2rem 2rem;
    letter-spacing: 0.19px;
    font-weight: 400;
}


.attribution{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 8rem;
}

.attribution a { color: hsl(228, 45%, 44%); }
