@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-font: 'Figtree', sans-serif;
    --fs-body: 1.6rem;

    --yellow: hsl(47, 88%, 63%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);

    font-size: 62.5%;
}

body{
    margin: 10rem 0 8rem;
    font-family: var(--text-font);
    background-color: var(--yellow);
    color: var(--black);
    font-size: var(--fs-body);
}

.container{
    max-width: 37.5rem;
    margin: 0 auto;
}

.card{
    background-color: var(--white);
    max-width: 40.27rem;
    border-radius: 2rem;
    border-width: 1px;
    border-color: var(--black);
    border-style: solid;
    max-height: 59.7rem;
    filter: drop-shadow(2rem 2rem 0.75rem var(--black));
    margin: 0 auto;
}

.card img{
    padding: 2.4rem;
    width: 100%;
    border-radius: 3rem;
}

.card h1+p{
    color: var(--grey);
    margin: 0 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: justify;
}

.learn{
    margin: 0 2.4rem;
    background-color: var(--yellow);
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.card small{
    font-size: 1.2rem;
    margin: 0 2.4rem;
}

.card h1{
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 2.4rem;
}

.user {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;
}

.user img{
    width: 8rem;
    height: 8rem;
}


.attribution{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 8rem;
}

.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 14.4rem) {
    .card{
        max-width: 30.84rem;
    }

    .card h1{
        font-size: 2.4rem;
    }
    h1>a{
        cursor: pointer;
    }
    h1>a:hover{
        color: var(--yellow);
    }
}
